.button {
  border-radius: 12px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;

  background: var(--button);
}

.button:hover {
  background: var(--button-hover);
}

.big {
  width: 276px;
  height: 44px;
}
.small {
  width: 156px;
  height: 44px;
}
